.regions {
  fill: #ccc;
}

.region-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.point-arcs {
  display: none;
  fill: none;
  stroke: #000;
}

.point-cell {
  fill: none;
  pointer-events: all;
}

.points circle {
  fill: steelblue;
  stroke: #fff;
  pointer-events: none;
}

.point:hover .point-arcs {
  display: inline;
}

.point-cell {
  stroke: #000;
  stroke-opacity: 0.1;
}
