/* hobbes3 - removed .header - added .dashboard-body */
body,.dashboard-body,.footer,.app-bar,.dashboard-panel,.dashboard-cell {
    background: #333 !important;
}
a {
    color: #ccc;
}
a:hover {
    color: #fff;
}
.dashboard-row .dashboard-panel .panel-head h3,.dashboard-header h2, p.description, .nav-footer>li>a {
    color: #ddd;
    text-shadow: none;
}
.dashboard-body .table-striped > tbody > tr:nth-child(odd) > td, .dashboard-body .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #666 !important;
}
.dashboard-body .table .table, .dashboard-body .table-striped>tbody>tr>td {
    color: white;
}
.dashboard-body .table .table, .dashboard-body .table-striped>tbody>tr:nth-child(even)>td {
    background-color: #888 !important;
}
.dashboard-body .table-chrome > thead > tr > th {
    background-image: linear-gradient(to bottom, #888, #666);
    color: white !important;
    text-shadow: none;
}
.dashboard-body .table-chrome > thead > tr > th:hover {
    background-image: linear-gradient(to bottom, #666, #444) !important;
    color: white !important;
    text-shadow: none;
}
.dashboard-body .table-chrome .sorts a {
    text-decoration: none;
    color: #ddd;
}
.dashboard-body .highlighted td {
    background: #aaa !important;
}
svg>rect {
    fill: #333 !important;
}
svg text {
    fill: #fff !important;
}
.single-value .single-result {
    color: #fff;
}
.single-value .after-label {
    color: #999;
}
.splunk-paginator a.selected {
    background: #000;
}
/* Below added by hobbes3 */
.panel-body.html, .form-settings, .input label, h2.panel-title {
    color: #ddd;
}
.html a, .view-new-time-range-picker-dialog .presets-container a, .sidebar .panel-contents a, #global-system-menu .popdown-dialog-body a {
    color: #5379af;
}
.html a:hover, .view-new-time-range-picker-dialog .presets-container a:hover, .sidebar .panel-contents a:hover, #global-system-menu .popdown-dialog-body a:hover {
    color: #32496a;
}
#token_debug.table-striped > tbody > tr:nth-child(odd) > td, #token_debug.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff !important;
}
#token_debug.table .table, #token_debug.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #f5f5f5 !important;
}
